@charset "UTF-8";

:root {

    --fonte1: arial, verdana,helvetica, sans-serif;  
    --fonte-destaque: 'bebas Neue', cursive; 

    --cor1:  #fad02c;
    --cor2: #d9ba3e85;
}

* {

    margin: 0px;
    padding: 0px;
}

html, body {

    width: 100vw;
    background-color: rgb(27, 24, 24);
}

header > h1 {

    padding-top: 6px;
    font-size: 1em;
    font-family: var(--fonte1);
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: black;
    height: 30px;
}

header {

    background-color: rgb(17, 17, 17);
    height: 30px;
    position: relative;
}

header ul {

    position: absolute;
    height:260px;
    background-color: var(--cor1);
    width:40px;
    top: 34px;
    right: 0px;
    border: solid 1px rgba(0, 0, 0, 0.423);
    text-align: center;
    border-bottom-left-radius: 4px;
    
    

}
header li {

    
    display: block;
    margin-top: 10px;
    
    

}

header a {

    
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 0.9em;
    height: 50px;
    width: 50px;
    
    
   
    
}

menu i {

    padding: 10px;
    transform: translateY(-10px);
    
    
}


menu i:hover{


    transform: translate(-3px, -3px);
    transition: 0.3s;
   
    
}

menu {

    position: relative;
    display: none;
    
}




i#burguer {

    position: absolute;
    right: 10px;
    display: block;
    color:var(--cor1);
    font-size: 1.5em;
    text-align: right;
    margin-top: -30px;
    cursor: pointer;
    width: 20px;
    

}

i#burguer:hover {

    font-size: 1.8em;
    
    

}



